<div class="resume-page">

  @if (loading()) {

  <div class="loading-container">

    <mat-spinner diameter="48"></mat-spinner>

    <p>Loading your resume...</p>

  </div>

  } @else if (error()) {

  <mat-card>

    <mat-card-header>

      <mat-card-title>
        Something went wrong
      </mat-card-title>

    </mat-card-header>

    <mat-card-content>

      <p>{{ error() }}</p>

    </mat-card-content>

    <mat-card-actions>

      <button mat-flat-button
              color="primary"
              (click)="loadResume()">

        Try Again

      </button>

    </mat-card-actions>

  </mat-card>

  } @else if (notFound()) {

  <app-upload-dropzone (uploaded)="onResumeUploaded($event)">
  </app-upload-dropzone>

  } @else {

  <mat-card>

    <mat-card-header>

      <mat-card-title>

        My Resume

      </mat-card-title>

      <mat-card-subtitle>

        Version {{ resume()?.version }}

      </mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>
      <!--<div class="resume-actions">

    <button mat-flat-button
            color="primary"
            routerLink="/resume/preview">

      <mat-icon>visibility</mat-icon>

      Preview Resume

    </button>

  </div>-->
      
      <div class="resume-actions">

        <button mat-stroked-button
                (click)="saveResume()">

          <mat-icon>save</mat-icon>

          Save

        </button>

        <button mat-flat-button
                color="primary"
                 (click)="goToPreview()">

          <mat-icon>visibility</mat-icon>

          Preview

        </button>

      </div>
      <!-- Summary -->

      <app-summary-editor [summary]="resume()!.summary"
                          (save)="saveSummary($event)">
      </app-summary-editor>

      <br>

      <!-- Experience -->

      <app-experience-list [experiences]="resume()!.experience"
                           (add)="addExperience()"
                           (edit)="editExperience($event)"
                           (delete)="deleteExperience($event)">
      </app-experience-list>

      <br>

      <!-- Education (Temporary) -->

      <app-education-list [education]="resume()!.education"
                          (add)="addEducation()"
                          (edit)="editEducation($event)"
                          (delete)="deleteEducation($event)">
      </app-education-list>

      <br>

      <!-- Skills (Temporary) -->

      <app-skills-editor [skills]="resume()!.skills"
                         (save)="saveSkills($event)">
      </app-skills-editor>

    </mat-card-content>

  </mat-card>

  }

</div>
